:root {
    --default-grey: #a1a1a1;
    --default-yellow: #ffe787;
}

svg {
	display: block;
	margin: auto;
}

h1 {
	text-align: center;
	font-family: Courier New;
	font-weight: lighter;
	color: var(--default-grey);
	display: inline-block;
	margin: 40px;
}

rect:hover {
	opacity: 0.5;
	cursor: pointer; 
}

#top-left {
	fill: #e3f09b;
}

#top-right {
	fill: #ccbbee;
}

#bottom-left {
	fill: #f79f79;
}

#bottom-right {
	fill: #87b6a7;
}

#container {
	width: 100%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	color: white;
}

#retry {
	font-family: helvetica;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: var(--default-grey);
	padding: 10px 20px;
	text-decoration: none;
	border: none;
	margin: 20px;
}

#retry:hover {
	background: var(--default-yellow);
	text-decoration: none;
}

#yourScore {
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	font-size: 40px;
	fill: var(--default-grey);
}

.cat {
	height: 200px;
	display:inline-block;
}

.column {
	float: center;
	vertical-align:middle;
	display: table-cell;
  	text-align: center;
	width: 33%;
	height: 420px;
}

.row {
	display: table;
	text-align: center;
	width: 100%;
}

.timer {
	background-color: var(--default-yellow);
	display: inline-block;
	padding: 10px 50px;
	display: table;
  	margin: 20px auto;
}

