:root {
    --default-grey: #a1a1a1;
    --default-yellow: #ffe787;
}

main {
	text-align: center;
}

svg {
	display: block;
	margin: auto;
}

h1 {
	text-align: center;
	font-family: helvetica;
	font-weight: lighter;
	color: var(--default-grey);
}

rect:hover {
	opacity: 0.5;
	cursor: pointer; 
}

#top-left {
	fill: #e3f09b;
}

#top-right {
	fill: #ccbbee;
}

#bottom-left {
	fill: #f79f79;
}

#bottom-right {
	fill: #87b6a7;
}

#container {
	width: 100%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	color: white;

}

#retry {
  font-family: helvetica;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background: var(--default-grey);
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  margin: 20px;
}

#retry:hover {
  background: var(--default-yellow);
  text-decoration: none;
}

.timer {
	background-color: var(--default-yellow);
	display: inline-block;
	padding: 10px 50px;
	display: table;
  	margin: 20px auto;
}

