:root {
    --default-grey: #a1a1a1;
    --default-yellow: #ffe787;
    --default-teal: #6ba9a5;
    --default-light-grey: #f1f1f1;
}

@-webkit-keyframes countdown {
	0% { font-size: 20px; color: var(--default-yellow);;}
    100% { font-size: 14px; color: var(--default-grey); }
}

@keyframes countdown {
	0% { font-size: 20px; color: var(--default-yellow);;}
    100% { font-size: 14px; color: var(--default-grey); }
}

svg {
	display: block;
	margin: auto;
}

h1 {
	text-align: center;
	font-family: Dancing Script, cursive;
	font-weight: lighter;
	font-size: 50px;
	color: var(--default-grey);
	display: inline-block;
	margin: 40px;
}

h2 {
	text-align: center;
	font-family: Rubik;
	font-weight: lighter;
	font-size: 20px;
	color: var(--default-teal);
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

h3 {
	text-align: center;
	font-family: Rubik;
	font-weight: lighter;
	font-size: 12px;
	color: red;
	display: inline-block;
	margin: 0px;
	padding-top: 20px;
}

rect:hover {
	opacity: 0.5;
	cursor: pointer; 
}

form {
	background: var(--default-light-grey);
	width: 300px;
	display: inline-block;
    text-align: center;
    padding: 40px;
}


#top-left {
	fill: #e3f09b;
}

#top-right {
	fill: #ccbbee;
}

#bottom-left {
	fill: #f79f79;
}

#bottom-right {
	fill: #87b6a7;
}

#container {
	width: 100%;
	text-align: center;
	font-family: helvetica;
	font-weight: bold;
	color: white;
}

#retry {
	font-family: Rubik;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: var(--default-grey);
	padding: 10px 20px;
	text-decoration: none;
	border: none;
	margin: 20px;
}

#retry:hover {
	background: var(--default-yellow);
	text-decoration: none;
}

#yourScore {
	text-align: center;
	font-family: Rubik;
	font-weight: bold;
	font-size: 40px;
	fill: var(--default-grey);
}

.button {
    background-color: var(--default-yellow);
    border: none;
    color: #8c8c8c;
    font-family: Rubik;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 2%;
    width: 200px;
}

.auth-form{
	width: 100%;
}

.button:hover {
    background-color: #d8ac3c;
}

.cat {
	height: 200px;
	display:inline-block;
}

.column {
	float: center;
	vertical-align:middle;
	display: table-cell;
  	text-align: center;
	width: 33%;
	height: 420px;
}

.input {
    border: none;
    border-radius: 5px;
    color: #8c8c8c;
    font-family: Rubik;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 12px;
    margin-top: 2%;
    width: 200px;
}

.row {
	display: table;
	text-align: center;
	width: 100%;
}

.timer {
	display: inline-block;
	font-family: Rubik;
	padding: 10px 50px;
	display: table;
  	margin: 20px auto;
  	color: var(--default-grey);
  	animation: countdown;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

