<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/simon.css') }}"/>
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Rubik" rel="stylesheet">
<title>Simon Says</title>
<div class=page>
  <div class="row">
    <h1>Simon Says</h1>
  </div>
  <div class="row">
    <div class="column">
      <div class="score">
        <h4>Username</h4><br>
        <h5> {{ user }} </h5><br><br>
        <h4>High Score</h4><br>
        <h5 id="highScore">{{ high_score }}</h5>
      </div>
    </div>
  	<div class='column'>
      <svg width="400" height="400">
        <rect id="top-left" width="195" height="195" rx="20" ry="20"/>
        <rect id="top-right" x="200" width="195" height="195" rx="20" ry="20"/>
        <rect id="bottom-left" y="200" width="195" height="195" rx="20" ry="20"/>
        <rect id="bottom-right" x="200" y="200" width="195" height="195" rx="20" ry="20"/>
        <g>
          <circle cx="200" cy="200" r="40" fill="white"/>
          <text id="yourScore" x="189" y="212"></text>
        </g>
      </svg>
    </div>
    <div class="column">
      <div class="stats">
        <h4>Top User Stats</h4>
        <table class="highScores">
          <tr>
            <th>Score</th>
            <th>User</th> 
          </tr>
          {% for user in top_users | reverse %}
          <tr>
            <td>{{ user.high_score }}</td> 
            <td>{{ user.username }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div id='container'>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://fb.me/react-15.1.0.js"></script>
<script src="https://fb.me/react-dom-15.1.0.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"></script>
<script type="text/babel" src="{{ url_for('static', filename='js/simon.jsx') }}"></script>
