<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/simon.css') }}"/>
<title>Simon Says</title>
<div class=page>
  <h1>simon says</h1>
  <div class="main">
    <svg width="420" height="420">
      <rect id="top-left" width="195" height="195" rx="20" ry="20"/>
      <rect id="top-right" x="200" width="195" height="195" rx="20" ry="20"/>
      <rect id="bottom-left" y="200" width="195" height="195" rx="20" ry="20"/>
    <rect id="bottom-right" x="200" y="200" width="195" height="195" rx="20" ry="20"/>
    <div id='container'></div>
</svg>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://fb.me/react-15.1.0.js"></script>
<script src="https://fb.me/react-dom-15.1.0.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"></script>
<script type="text/babel" src="{{ url_for('static', filename='js/simon.jsx') }}"></script>
